[Unit]
Description=Switch Firmware service
After=mosquitto.service rethinkdb.service network-online.target dnsmasq.service
Wants=network-online.target
PartOf=rethinkdb.service network-online.target mosquitto.service

[Service]
Type=simple
ExecStart=/usr/local/bin/energieip-swh200-firmware -c /etc/energieip-swh200-firmware/config.json
KillMode=process
PrivateTmp=true
Restart=always

[Install]
WantedBy=multi-user.target
